body {
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    font-family: Arial;
}

nav {
    display: flex;
    flex-flow: wrap row;
    align-content: space-between;
    justify-content: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
    text-align: center;
}

h1 {
    font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
}

a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
}

.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1em;
}

:root {
    --color-accent: oklch(58.412% 0.18761 267.493 / 0.726);
}

html {
    accent-color: var(--color-accent);
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
    background-color: oklch(from var(--color-accent) 95% 5% h)
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

textarea {
    width: 100%;
}

button {
    grid-column: 2;
}

label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}

img {
    max-width: 100%;
}

.projects-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

.projects-page h2 {
    margin: 0;
}

article {
    grid-template-columns: subgrid;
    grid-row: span 3;
}